body {
  position:relative;
  background-color: black;
}

.tweet-box {
  position: relative;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: 0 auto;
  margin-bottom: 10px;
  background-color: white;
  overflow: auto;
  width: 500px;
  border-style: solid;
  border-radius: 5px;
  border-color: grey;
  border-width: 1px;
  padding: 20px;
}

.tweet-container {
  position: relative;
  overflow: auto;
  margin-left: 100px;

}

.profile-image {
  position: relative;
  float: left;
  border-style: solid;
  border-width: 1px;
  border-radius: 10px;
  border-color: grey;
  height: 70px;
  width: 70px;
}

.profile-name {
  font: bold arial;
  float: left;
  font-size: 100%;
}

.profile-handle {
  font: bold arial;
  float: left;
  font-size: 80%;
  margin-top: 2px;
  margin-left: 5px;
  color: grey;
}

.date-time {
  font: bold arial;
  float: left;
  font-size: 80%;
  margin-top: 2px;
  margin-left: 5px;
  color: grey;
}

.text-box {
  float: left;
  clear: left;
  width: 400px;
  margin-top: 10px;
  color: black;
}

p {
  margin: 0;
}

.p-textColor {
  position: relative;
  color: white;
  z-index: 3;
  text-align: center;
  font-size: 150%;
  font-variant: small-caps;
  font-weight: bold;
  transition: 0.3s;
  margin-top: 11%;
}

.button {
  border-radius: 50px;
  border-color: black;
  width: 200px;
  height: 75px;
  margin-left: 30px;
  border-width: 3px;
  border-style: dotted;
  background-color: black;
}

.button:after {
  content: '';
  z-index: 2;
  height: 100%;
  width: 0%;
  top: 0;
  left: 0;
  right: 0;
  transition: 0.7s ease-out;
}

.button:hover:after {
  width: 100%;
}

#button1:hover p {
  color: blue;
}

#button2:hover p {
  color: red;
}

.b-box {
  position:fixed;
  top: 50%;
  left: 50%;
  background-color: black;
  border-style: solid;
  border-color: grey;
  height: 200px;
  width: 550px;
  margin-top: -250px;
  margin-left: -275px;
  padding: 25px;
}

#feed {
  position:fixed;
  top: 95%;
  left: 50%;
  background-color: black;
  border-style: solid;
  border-color: grey;
  height: 200px;
  width: 550px;
  margin-top: -250px;
  margin-left: -275px;
  padding: 25px;
  overflow-y: scroll;
}

#feed::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 10px;
}

#feed::-webkit-scrollbar-thumb {
  border-radius: 4px;
    background-color: rgba(60,60,60,1);
}

#r-title {
	color: grey;
  margin: 20px 0px 0px 0px;
  width: 250px;
  float: left;

}

#r-title p {
	color: white;
	font-size: 25px;
  height: 25px;
  width: 250px;
  margin: 5px 0px 0px 5px;
}

#r-description {
	color: grey;
  margin: 20px 0px 0px 0px;
  width: 350px;
  float: left;
  clear: left;
}

#r-description p {
	color: white;
	height: 100px;
  width: 350px;
  overflow-y: scroll;
  margin: 5px 0px 0px 5px;
  font-size: 20px;
}

#r-description p::-webkit-scrollbar {
 	-webkit-appearance: none;
  width: 10px;
}

#r-description p::-webkit-scrollbar-thumb {
	border-radius: 4px;
  background-color: rgba(60,60,60,1);
}

#r-response {
  float: right;
  color: white;
  width: 100px;
  text-align: center;
}

#r-response p {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: grey;
  color: transparent;
  margin: auto;
}

#button1 {
  display: inline-block;
  border-color: blue white;
}

#button2 {
  margin-top: 20px;
  display: inline-block;
  border-color: red white;
}

/*#button2.hidden {
  display: none;
}*/

#new-one {
  float: left;
  height: 50px;
  width: 300px;
  font: bold 15px Arial, serif;
  text-align: center;
}

#new-two {
  float: left;
  clear: left;
  height: 50px;
  width: 300px;
  margin-top: 15px;
  font: bold 15px Arial, serif;
  text-align: center;
}

#new-three {
  float: left;
  clear: left;
  height: 50px;
  width: 300px;
  margin-top: 15px;
  font: bold 15px Arial, serif;
  text-align: center;
}

#output {
  color: white;
}